:root
  --mainColor: #265A67
  --lightMainColor: #F7F2E4
  --jumboColor: #488187
  font-size: 1em
  box-sizing: border-box
  line-height: 1.4
  color: #333

body
  background: var(--mainColor)
  font-family: 'Oswald', 'Yellowtail', sans-serif
  font-size: 18px
  padding-top: 20px
  padding-bottom: 20px
